<div class="row">
  <div class="sun clearfix">
    <div class="col-sm-12">
       <h1>DeeBooster</h1>
       <h3>we are almost ready to launch our</h3>
       <h2>vitamin D boosting app</h2>        
    </div>
    <div id="left-block" class="col-sm-4 text-center">
      <%= image_tag "tag.png", class: 'img-responsive', alt: 'Tablet' %>
    </div>
    <div id="right-block" class="col-sm-8">
      <div class="row">
         <div class="col-sm-offset-1 col-sm-10">
          <div class="timing">
            <div id="count-down" data-date="2016-01-15 00:00:00">
              
            </div>
          </div>
          <!-- /.timing -->
         </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
        <p class="alert-success"></p>
        <p class="alert-warning"></p>
        <form class="newsletter-signup" role="form">
          <div class="input-group">
          <input type="email" class="form-control" id="email" placeholder="contact@yourdomain.com" required>
          <span class="input-group-btn">
            <input type="submit" class="btn btn-default btn-sand" value="subscribe">
          </span>
          </div><!-- /input-group -->
        </form>
        </div>
      </div>                    
      <p class="followus"></p>
      <ul class="social-icon">
        <li><a href=""><i class="fa fa-camera-retro"></i></a></li>
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
        <li><a href=""><i class="fa fa-youtube-square"></i></a></li>
      </ul>              
    </div>
  </div>
</div>


