// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users_pages {
  .current_location .delete_location {
      visibility: hidden;
  }

  .table-responsive {
    td {
      vertical-align: middle !important;
    }
    .btn {
      float: right;
      .glyphicon {
        margin-right:12px;
        top: 2px;
      }
    }
    .btn.btn-success {
      padding-right:22px
    }
  }


  // Pagination Styles

  .digg_pagination {
    background: #f8faeb;
    cursor: default;
    /* self-clearing method: */ }
    .digg_pagination a, .digg_pagination span, .digg_pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
    .digg_pagination .disabled {
      color: #999999;
      border: 1px solid #dddddd;
      background-color: #fefefe; }
    .digg_pagination .current {
      font-style: normal;
      font-weight: bold;
      background: #337ab7;
      color: white;
      border: 1px solid #337ab7; }
    .digg_pagination a {
      text-decoration: none;
      background-color: #ffffff;
      color: #337ab7;
      border: 1px solid #9aafe5; }
      .digg_pagination a:hover, .digg_pagination a:focus {
        color: #000033;
        border-color: #000033; }
    .digg_pagination .page_info {
      background: #2e6ab1;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center; }
      .digg_pagination .page_info b {
        color: #000033;
        background: #6aa6ed;
        padding: 0.1em 0.25em; }
    .digg_pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .digg_pagination {
      height: 1%; }
    *:first-child + html .digg_pagination {
      overflow: hidden; }
}

@media
only screen and (max-width: 760px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
    overflow: auto;
    .btn {
      width: 100%;
    }
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Addition Date"; }
  td:nth-of-type(2):before { content: "Latitude"; }
  td:nth-of-type(3):before { content: "Longitude  "; }
  td:nth-of-type(4):before { content: ""; }
  td:nth-of-type(5):before { content: ""; }
}