.users_pages .navigation {
  background-color: rgba(50, 54, 55, 0.7);
}

.ajax-loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.imgur.com/Qbf7mwm.gif?1') 
                50% 50% 
                no-repeat;
}

.loading {
  .ajax-loader {
    display: block;
  }
  #chart_div {
    display: none;
  }
}