.users_pages{
  margin: 0 30px;
 .navigation {
    background-color: rgba(50, 54, 55, 0.7);
  }

  .padding-wrapper {
    //padding: 0 30px;
  }
  .padding-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }

  .container.content {
    position: relative;
    top: 85px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container.knobs-container {
    padding-left: 0;
    padding-right: 0;
  }

  @media only screen and (max-height: 400px) {
    .container.chart-container {
      height: 300px;
    }
  }
  @media only screen and (min-height: 401px) and (max-height: 800px) {
    .container.chart-container {
      height: 500px;
    }
  }
  @media only screen and (min-height: 801px) {
    .container.chart-container {
      height: 300px;
    }
  }
}

/* Add 60px to every width */
/* col-xs < 767 */
@media only screen and (max-width: 767px) {
  .users_pages {
    margin: 0 15px;
    .container.content {
      top: 70px;
    }
    .col-xs-12 {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .users_pages {
    .navbar-right {
      //margin-right: 0;
    }
  }
}
/* col-sm 768 - 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .users_pages { 
    .knobs-container {
      .col-xs-12:nth-child(odd) {
        padding-left: 0;
        padding-right: 10px;
      }
      
      .col-xs-12:nth-child(even) {
        padding-right: 0;
        padding-left: 10px;
      }
    }

    .container {
      padding: 0;
    }
  } 
}

/* col-md */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .users_pages { 
    .knobs-container {
      .col-xs-12:nth-child(odd) {
        padding-left: 0;
      }
      .col-xs-12:nth-child(even) {
        padding-right: 0;
      }
    }

    .container {
      padding: 0;
    }
  } 
}

/* col-lg */
@media only screen and (min-width: 1200px) {
  .users_pages .col-xs-12:first-child {
    padding-left: 0;
  }

  .users_pages .col-xs-12:last-child {
    padding-right: 0;
  }
}


@media only screen and (min-width: 1200px) {
  .users_pages { 
    .col-xs-12:first-child {
      padding-left: 0;
    }

    .col-xs-12:last-child {
      padding-right: 0;
    }

    .navbar {
      .container {
        padding: 0;
      }
    }
  }
}

.ajax-loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.imgur.com/Qbf7mwm.gif?1') 
                50% 50% 
                no-repeat;
}

.loading {
  .ajax-loader {
    display: block;
  }
  #chart_div {
    display: none;
  }
}

.no-location .new_location {
  display: none;
}