<meta charset="UTF-8">
<title>DeeBooster - Vitamin D boosting app</title>
<meta name="description" content="Using this app everyone can find the best time intervals when their body can produce Vitamin D in thier part of the world.">
<meta name="author" content="DeeBooster">
<meta name="authorUrl" content="http://www.DeeBooster.Com">
    
<!-- Mobile Specific Meta -->   
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track' => true %>
<!-- Google Charts -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>

<%= csrf_meta_tags %>

<!-- Font Awesome -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Added google font -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,700|Lobster|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>