<%= will_paginate locations, params: {controller: '/locations', action: 'index'} %>
<div class="table-responsive ">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Addition Date</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render locations %>
    </tbody>
 </table>
</div>
<%= will_paginate locations, params: {controller: '/locations', action: 'index'}%>
