<div class="pagini">
  <div class="digg_pagination">
    <%= will_paginate @locations %>
  </div>  
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Addition Date</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @locations %>
      </tbody>
   </table>
  </div>
  <div class="digg_pagination">
    <%= will_paginate @locations, :param_name => :page %>
  </div>
</div>