<div class="pagini">
  <%= will_paginate @locations %>
  <div class="table-responsive js-locations-table">
    <%= render partial: "locations", locals: {locations: @locations} %>
  </div>
  <%= will_paginate @locations, :param_name => :page %>
</div>