<!DOCTYPE html>
<html>
<head>
  <%= render partial: '/layouts/partials/head'%>
</head>
<body class="landing">

<%= yield %>

<%= render partial: '/layouts/partials/landing_js_footer' %>

</body>
</html>
